main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-wrapper {
  width: 800px;
  height: 400px;
  margin: 0 10px;
}
.image-wrapper > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.slider-container {
  display: flex;
  align-items: center;
}